.garlands img {
	max-width: 100%
}

#preloader,
.container {
	transition: opacity 2s ease-in-out
}

.handwriting-text,
.popup,
body {
	text-align: center
}

body {
    background: radial-gradient(circle, #012b29, #0c1502 50%);
    color: #b8a850;
    
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 0;
    width: 100vw;
}

.container {
	opacity: 0
}

.show-content {
	opacity: 1
}

.garlands {
	left: 50%;
	position: absolute;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	z-index: 1
}

.side-image-left,
.side-image-right {
	position: absolute;
	top: 60%;
	z-index: 0;
}

.side-image-left {
	left: 0
}

.side-image-right {
	right: 0
}


.side-image-left img,
.side-image-right img {
	max-width: 150px;
	opacity: .1
}

.header {
	position: relative;
	z-index: 0
}

.header img {
	margin-top: 40px;
	max-width: 200px
}

.countdown {
	color: #fc0;
	display: flex;
	font-size: 160px;
	font-weight: 700;
	justify-content: center;
	padding: 0
}

img {
	height: auto
}

.footer-dancers {
	align-items: flex-end;
	display: flex;
	justify-content: center;
	margin-top: 0
}

.dancers img {
	max-width: 70px
}

.footer img {
	width: 250px
}

.ornaments img {
	margin: 0;
	max-width: 25px
}

.popup button,
input,
textarea {
	font-size: 16px;
	margin: 5px;
	padding: 10px
}

@media (max-width:768px) {

	.side-image-left img,
	.side-image-right img {
		max-width: 150px
	}

	.header h1 {
		font-size: 36px
	}

	.footer img {
		width: 175px
	}

	.countdown {
		font-family: 'Patrick Hand', cursive;
		font-size: 14px
	}
}

.floating-button,
.floating-wishes-button {
	background: #0099ffe6;
	bottom: 10px;
	box-shadow: 0 4px 6px #0099ff80;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	outline: 0;
	padding: 5px;
	position: fixed;
	transition: transform .2s, box-shadow .2s, background .3s;
	z-index: 1000
}

.floating-button {
	border: none;
	border-radius: 5%;
	right: 10px
}

.floating-button:hover {
	background-color: #007acc
}

.floating-wishes-button {
	border: none;
	border-radius: 5%;
	left: 10px
}

.floating-wishes-button:hover {
	background: #00aeff;
	box-shadow: 0 6px 14px #00aeffb3;
	transform: scale(1.1)
}

.popup {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 20px #0003;
	display: none;
	left: 50%;
	max-width: 300px;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 85%;
	z-index: 2000
}

.popup-content {
	align-items: center;
	display: flex;
	flex-direction: column
}

.close {
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	right: 15px;
	top: 10px
}

input,
textarea {
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 85%
}

.popup button {
	background: #09f;
	border: 1px solid #ccc;
	border-radius: 10px;
	width: 75%
}

.popup button:hover {
	background: #007acc
}

#preloader {
	align-items: center;
	background: #012b29;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000
}



#preloader h1 {
	animation: 5s ease-in-out infinite alternate fadeText;
	color: #fc0;
	font-size: 50px;
	font-family: 'Great Vibes', cursive;
	text-decoration: underline;
}

@keyframes fadeText {

	0%,
	100% {
		opacity: 1
	}

	0%,
	50% {
		opacity: 1
	}

	0%,
	100% {
		opacity: 1
	}
}

.handwriting-names {
    color: #fc0fc0; /* Text color */
    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    display: inline-block;
    text-shadow: 0 0 15px #fc0fc0, 0 0 20px #fc0fc0, 0 0 30px #fc0fc0; /* Glow effect */
}
.handwriting-text {
	color: #fff;
	font-family: 'Patrick Hand', cursive;
	font-size: 22px
}

.handwriting-texts {
	color: #fc0;
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px;
	font-weight: 700;
	text-align: center
}

.heart-beat {
	animation: .5s infinite alternate heartbeat;
	display: inline-block;
	font-size: 1em
}

@keyframes heartbeat {
	0% {
		transform: scale(0)
	}

	25% {
		transform: scale(.25)
	}

	50% {
		transform: scale(.5)
	}

	75% {
		transform: scale(.75)
	}

	100% {
		transform: scale(.9)
	}
}
